@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    color-scheme: light dark;
    scroll-behavior: smooth;
}

.elemento {
    padding: 1.25rem;
    border-radius: 0,375rem;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    transition-duration: 150ms;
    color: white;
    transition: background-color 0.3s, color 0.3s, opacity 0.3s, scale 0.3s;
}

.contenedor:hover .elemento {
    opacity: 0.5;
}

.contenedor .elemento:hover {
    opacity: 1;
    background-color: rgba(128, 128, 128, 0.111);
    border-radius: 0.5rem;
    scale: 1.02;
}

.contenedor {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.contenedor .elemento .link{
    transition: .2s ease-in-out;
}

.contenedor .elemento:hover .link{
    translate: 5px -5px;
}